@model Category
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Create Categories</h1>
    <form method="post" action="/Category/Store">
        <input name="Name" type="text" class="form-control" placeholder="Product Nmae.." />
        <input name="Description" type="text" class="form-control" placeholder="description.." />
        <button class=" btn btn-success mt-3">create</button>
    </form>

</body>
</html>